
# ! include /home/mysql/mysql/etc/mysqld.cnf
! includedir /etc/mysql/conf.d/

[mysqld]
port=3306
# socket=/var/run/mysqld/mysqld.sock
# pid-file=/var/lib/mysql/03f6f87d05c0.pid
# basedir=/usr/
datadir=/var/lib/mysql/
# skip-name-resolve #grant 时，必须使用ip不能使用主机名
# default-storage-engine=InnoDB #默认存储
# transaction_isolation=REPEATABLE-READ

log-bin=bin-log #这些路径相对于datadir
log-bin-index=bin-log.index
max_binlog_size=1G
binlog-format=ROW
expire_logs_days=30 #超过30天的binlog删除

relay-log=relay-log
relay_log_index=relay-log.index
max_relay_log_size=1G   #0:将使用max_binlog_size
# log-slave-updates=true
server-id=100

general_log=1
general_log_file=/var/lib/mysql/general.log
log-warnings=1
log-error=/var/lib/mysql/mysql.err

slow_query_log=1
long-query-time=1 #慢查询时间 超过1秒则为慢查询
log_output=FILE #慢查询输出的格式，默认为FILE，你可以将它设为TABLE (slow_log)
slow_query_log_file=/var/lib/mysql/slow.log

open_files_limit=10240  #最大文件打开数
max_connections=1000 #最大并发连接数 ，增大该值需要相应增加允许打开的文件描述符数

innodb_buffer_pool_size=2G #包括数据页、索引页、插入缓存、锁信息、自适应哈希所以、数据字典信息
# innodb_data_home_dir=/longxibendi/mysql/mysql/var/
innodb_data_file_path=ibdata1:1024M;ibdata2:1024M:autoextend:max:4096M  #表空间

character-set-server=utf8
skip-name-resolve
max_connect_errors=10000 #每用户发起的连接error超过该值时，阻塞连接,flush hosts

# master上配置, 但不建议配置(基于use db,不严格)
# binlog-do-db=work
# binlog-ignore-db = mysql
# binlog-ignore-db =performance_schema
# binlog-ignore-db =information_schema
# binlog-ignore-db =test

# slave上配置
# replicate_do_db=work       # 不建议配置(基于use db,不严格)
# replicate_ignore_db=mysql  # 不建议配置(基于use db,不严格)
# replicate_wild_do_table=test.%
# replicate_wild_ignore_table=mysql.%
